body {
    background-image: url(images/70122-ODLEVR-343.jpg);
}
h1 {
    margin-bottom: 2%;
}
.main-contain {
    margin: 0;
    padding: 0;
}
.stats-contain,
.game-contain {
    display: inline-block;
    border: 1px solid blue;
    height: 85vh;
    vertical-align: top;
}

.cardRow{
    width: 100%;
    height: 33%;
}

.statsRow{
    width: 100%;
    height: 25%;
    border: 1px red solid;
}
.card{
    margin-right: 5%;
    margin-left: 2%;
    margin-top: 1%;
    padding: 0;
    border: 3px black solid;
    position: relative;
    height: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 4px #666666
}

.back, .front {
    position: absolute;
    height: 100%;
    width: 100%;
}

.front{
    background-color: white;
    border-radius: 10px;
}

.card img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card .back img{
}

.flipped .back {
    display: none;
}

.matched {
    visibility: hidden;
}