@font-face {
    font-family: 'Adventure';
    src: url(./assets/fonts/Adventure.otf);
}


@font-face {
    font-family: 'batman';
    src: url(./assets/fonts/batmfa__.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(./assets/fonts/Montserrat-SemiBold.Otf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Comic-Book';
    src: url(./assets/fonts/comic_book.otf);
}

body{
    overflow-x: hidden;
}

.backgroundImg{
    background-image: url(assets/images/background.png);
    background-size: cover;
}

.gameTitle {
    text-align: center;
    font-family: Adventure;
    font-size: 3vw;
}

.nav-tabs:hover {
    border: none;
}

#headBar {
    background-color: rgba(0, 74, 148, 0.7);
    border-bottom: 1px #666666;
}

#headBar > .active > a {
    background-color: rgba(27, 55, 126, 0.9);
    border: 2px #2d3f6d;
    border-radius: 3px;
}

#headBar > .active > a:hover {
    background-color: rgba(27, 55, 126, 0.9);
    border: 2px #2d3f6d;
}

#headBar > li > a,
.dropdown-menu > li a {
    color: white;
    font-weight: bold;
}

#headBar > li > a:hover,
.dropdown-menu > li a:hover {
    color: #b3e9ff;
    background-color: transparent;
    border: rgba(27, 55, 126, 0.9);
}

#headBar > .active > a {
    color: white;
}

.dropdown-menu {
    background-color: rgba(0, 74, 148, 0.7);
}

.nav .open > a, .nav .open > a:focus{
    background-color: rgba(27, 55, 126, 0.9);
}


.progress {
    height: 15%;
    width: 50%;
    position: absolute;
    top: 65%;
    left: 45%;
    border: 3px black solid;
    background-color: #A6A6A6;
    border-radius: 18px;
    box-shadow: -3px 2px 2px #888888;
}

.progress-bar {
    width: 0%;
    background-color: green;
}

.main-contain {
    margin: 0;
    padding: 0;
}

.stats-contain,
.game-contain {
    display: inline-block;
    vertical-align: top;
    height: 85vh;
}

.statsBubble {
    height: 90%;
    width: 90%;
    right: -5%;
    top: -3%;
    position: absolute;
}

.game-contain {
    width: 66%;
    position: relative;
    user-select: none;
}

.stats-contain {
    width: 33%;
}

.cardRow {
    width: 100%;
    height: 33%;
    margin: 0;
    padding: 0;
}

.statsRow1 {
    width: 100%;
    height: 25%;
    position: relative;

}

.statsRow2 {
    width: 100%;
    height: 14%;
    position: relative;
}

.statsRow3 {
    height: 18%;
    width: 100%;
    position: relative;
}

.statsRow4 {
    height: 43%;
    width: 100%;
    position: relative;
}

.reset>img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 60%;
    cursor: pointer;
}

.reset {
    height: 55%;
    width: 30%;
}

#reset {
    bottom: 2%;
    left: 25%;
    font-size: 1.5vw;
    text-shadow: -1px 1px 0px #888888;
    cursor: pointer;
}


.attempts,
.games-played {
    position: absolute;
    width: 100%;
    text-align: center;
}

.statsText,
.value {
    display: inline-block;
    position: absolute;
    font-size: 1.8vw;
    font-family: batman;
}

#accuracy {
    position: absolute;
    left: 45%;
    font-size: 1.8vw;
    font-family: batman;
    top: 35%;
}
#accuracyVal {
    right: 0%;
    top: 35%;
}

#attempts {
    right: 15%;
}

#attemptsVal {
    right: 5%;
}

#gamesPlayed {
    right: 25%;
}

#gamesPlayedVal {
    right: 12%;
    margin-top: 5%;

}

.card {
    margin-right: 1%;
    margin-left: 4%;
    padding: 0;
    border: 3px black solid;
    position: relative;
    height: 70%;
    border-radius: 15px;
    box-shadow: 5px 5px 4px #666666;
    cursor: pointer;
}

.card:hover .back {
    filter: brightness(130%) contrast(130%);
}

#imgReset:hover {
    filter: brightness(135%) contrast(70%);
}

#imgReset:active {
    filter: contrast(70%) brightness(135%);
    transform: translateY(2px);
}

#reset:active{
    transform: translateY(2px);
}

.back,
.front {
    position: absolute;
    height: 100%;
    width: 100%;
}

.front {
    background-color: white;
    border-radius: 10px;
}

.card img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.flipped .back {
    display: none;
}

.matched {
    visibility: hidden;
}

.popImg {
    height: 20%;
    width: 20%;
    position: absolute;
}

h1.aboutText{
    font-size: 3.5em;
}

h3.aboutText{
    font-size: 1.8em;
    margin-top: 5%;
}

.aboutText {
    text-align: center;
    font-family: Adventure;
}


.pic-contain {
    height: 35vh;
    width: 100%;
    padding: 0;
}


.picRow {
    margin: 0;
    padding: 0;
}


.picMe {
    height: 100%;
    width: 50%;
    text-align: left;
}

.picMe img {
    height: 90%;
    margin-top: 2.5%;
    border: 2px #666666 solid;
    border-radius: 220px;
    box-shadow: 2px 2px 1px #333;
    margin-left: 5%;
}

.portButton {
    width: 50%;
    text-align: right;
    padding-top: 5%;

}

.portButton img {
    width: 40%;
    filter: drop-shadow(4px 4px 3px #333333);
}

.portButton img:hover {
    width: 40%;
    filter: drop-shadow(4px 4px 3px #333333) invert(100%);
    cursor: pointer;
}

.portButton img:active {
    transform: translateY(4px);
}


.paragraphText {
    font-family: Roboto-Regular;
    font-size: 1.25em;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: 600;
}

.builtLogo img, .htmlLogo img {
    width: 80%;
    filter: drop-shadow(2px 2px 1px #333);
    margin-bottom: 5%;
}

.builtLogo img{
    margin-bottom: 20%;
}

.cssLogo img {
    width: 75%;
    filter: drop-shadow(2px 2px 1px #333);
    margin-bottom: 5%;
}

.queryLogo img {
    margin-top: 10%;
    width: 100%;
    margin-bottom: 10%;
}

.modal {
    margin-left: 25%;
    margin-right: 25%;
}

.modal-content {
    width: 100%;
}

.modal-body img {
    width: 100%;
}

/*XS*/
@media only screen and (max-width: 767px) { 
    
    .gameTitle{
        font-size: 5vw;
    }
    .stats-contain{
        position: fixed;
        left: 2%;
        background-color: white;
        top: 20%;
        height: 70vh;
        border: black groove 8px;
        border-radius: 5px;
        box-shadow: 3px 3px 1px #666666;
    }
    .card{
        margin-top: 5%;
        height: 75%;
    }


    #reset {
        bottom: 2%;
        left: 25%;
        font-size: 4vw;
        text-shadow: 0px 0px;
        font-family: 'Comic-Book';
    }
    .reset>img{
        top: 50%;
        height: 100%;
        width: 200%;
    }

    .statsText,
    .value {
        font-size: 4vw;
        font-family: 'Comic-Book';
    }

    #accuracy {
        position: absolute;
        left: 5%;
        font-size: 4vw;
        font-family: 'Comic-Book';
        top: 0%;
    }
    
    #accuracyVal{
        top: 0%;
        right: -10%;
        font-size: 4vw;
    }
    #attemptsVal {
        font-size: 4vw;
        position: absolute;
        top: 5%;
        right: 0%;
    }
    .progress {
        height: 30%;
        width: 80%;
        top: 50%;
        left: 10%;
        box-shadow: -1px 1px 1px #888888;
    }


    #gamesPlayed {
        right: 40%;
    }  
    
    .picMe img {
    width: 40%;
    margin-top: 2.5%;
    border: 2px #666666 solid;
    border-radius: 220px;
    box-shadow: 2px 2px 1px #333;
    margin-left: 5%;
    }
    
}

/*SM*/
@media only screen and (min-width: 768px) and (max-width: 992px) { 
    .gameTitle{
        font-size: 6vw;
    }
    .stats-contain{
        position: fixed;
        left: 2%;
        background-color: white;
        top: 25%;
        height: 75vh;
        border: black groove 8px;
        border-radius: 5px;
        box-shadow: 3px 3px 1px #666666;
    }
    .card{
        margin-top: 5%;
        height: 70%;
    }


    #reset {
        bottom: 2%;
        left: 25%;
        font-size: 3vw;
        text-shadow: 1px 1px;
    }
    .reset>img{
        top: 15%;
        height: 150%;
        width: 200%;
        left: 80%;
    }

    .statsText,
    .value {
        font-family: 'Comic-Book';
        font-size: 3vw;
    }

    #accuracy {
        font-family: 'Comic-Book';
        position: absolute;
        left: 15%;
        font-size: 3vw;
        top: 5%;
    }
    
    #accuracyVal{
        top: 5%;
        right: 0%;
    }
    
    #attempts {
        left: 0%;
    }
    .progress {
    height: 30%;
    width: 80%;
    top: 50%;
    left: 10%;
    box-shadow: -1px 1px 1px #888888;
    }

    .progress-bar-value {
        font-size: 2.5vw;
        margin-top: 2%;
        margin-left: 5%;
    }

    #reset{
        left: 40%;
        bottom: 0%;
        text-shadow: 0px 0px;
    }
    #gamesPlayed {
        left: 0%;
    }
    
    .picMe img {
    width: 40%;
    margin-top: 2.5%;
    border: 2px #666666 solid;
    border-radius: 220px;
    box-shadow: 2px 2px 1px #333;
    margin-left: 5%;
    }
    
}
