@font-face {
    font-family: 'Adventure';
    src: url(Adventure.otf);
}

@font-face {
    font-family: 'batmfa__';
    src: url(batmfa__.tff);
}

body {
   background-image: url(images/70122-ODLEVR-343.jpg);
}

h1 {
 
    text-align: center;
    font-family: Adventure;
    font-size: 3vw;
}

.headBar {
    background-color: rgba(255, 255, 255, 0.8);
}
.progress{
    height: 15%;
    width: 50%;
    position: absolute;
    top: 65%;
    left: 42%;
    border: 3px black solid;
    background-color: #AAAAAA;
}

.progress-bar {
    width: 0%;   
    background-color:green;
}

.progress-bar-value {
    font-size: 1vw;
    position: absolute;
    top: 10%;
}

.main-contain {
    margin: 0;
    padding: 0;

}

.stats-contain,
.game-contain {
    display: inline-block;
    border: 1px solid blue;
    vertical-align: top;
    height: 85vh;
}

.stats-contain img{
    height: 90%;
    width: 90%;
    right: -5%;
    position: absolute;
}

.game-contain {
    width: 66%;
}

.stats-contain {
    width: 33%;
}

.cardRow {
    width: 100%;
    height: 33%;
    margin: 0;
    padding: 0;
}

.statsRow1 {
    width: 100%;
    height: 25%;
    border: 3px red solid;
    position: relative;

}

.statsRow2 {
    width: 100%;
    height: 14%;
    border: 3px green solid;
    position: relative;
}

.statsRow3 {
    height: 18%;
    width: 100%;
    border: 3px white solid;
    position: relative;
}

.attempts, .games-played{
position: absolute;
    width: 100%;
    text-align: center;
}

.statsText, .value {
    display: inline-block;
    position: absolute;
    font-size: 2.5vw;
    font-family: batmfa__;
}

#accuracy {
    position: absolute;
    left: 42%;
    font-size: 2.5vw;
    font-family: batmfa__;
    top: 28%;
}

#attempts{
  right: 26%;  
}

#attemptsVal {
   right: 12%; 
}

#gamesPlayed {
    right: 35%;
}

#gamesPlayedVal {
    right: 20%;
    margin-top: 5%;

}

.card {
    margin-right: 1%;
    margin-left: 6%;
    margin-top: 1%;
    padding: 0;
    border: 3px black solid;
    position: relative;
    height: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 4px #666666;
}

.back,
.front {
    position: absolute;
    height: 100%;
    width: 100%;
}

.front {
    background-color: white;
    border-radius: 10px;
}

.card img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.flipped .back {
    display: none;
}

.matched {
    visibility: hidden;
}
