@font-face {
    font-family: 'Adventure';
    src: url(Adventure.otf);
}


@font-face {
    font-family: 'batman';
    src: url(batmfa__.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url(Montserrat-SemiBold.Otf);
}


@font-face {
    font-family: 'Montserrat-Regular';
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(Roboto-Regular.ttf);
}

.mainBody {
    background-image: url(images/background.png);
}


.gameTitle {

    text-align: center;
    font-family: Adventure;
    font-size: 3vw;
}

.nav-tabs:hover {
    border: none;
}

#headBar {
    background-color: rgba(0, 74, 148, 0.7);
    border-bottom: 1px #666666;
}

#headBar > .active > a {
    background-color: rgba(27, 55, 126, 0.9);
    border: 2px #2d3f6d;
    border-radius: 3px;
}
#headBar > .active > a:hover {
    background-color: rgba(27, 55, 126, 0.9);
    border: 2px #2d3f6d;
}
#headBar > li > a, .dropdown-menu >li a {
    color: white;
    font-weight: bold;
}

#headBar > li > a:hover, .dropdown-menu >li a:hover {
    color: #b3e9ff;
    background-color: transparent;
    border: none;
}

#headBar > .active > a {
    color: white;
}

.dropdown-menu {
    background-color: rgba(0, 74, 148, 0.7);
}

.nav .open>a{
    background-color: rgba(27, 55, 126, 0.9);
}

.progress {
    height: 15%;
    width: 50%;
    position: absolute;
    top: 65%;
    left: 42%;
    border: 3px black solid;
    background-color: #A6A6A6;
    border-radius: 18px;
    box-shadow: -3px 2px 2px #888888;
}

.progress-bar {
    width: 0%;
    background-color: green;
}

.progress-bar-value {
    font-size: 1vw;
    text-align: left;
    margin-left: 5%;
    text-shadow: 1px 1px 1px #333333;
}

.main-contain {
    margin: 0;
    padding: 0;

}

.stats-contain,
.game-contain {
    display: inline-block;
    #border: 1px solid blue;
    vertical-align: top;
    height: 85vh;
}

.stats-contain img {
    height: 90%;
    width: 90%;
    right: -5%;
    top: -3%;
    position: absolute;
}

.game-contain {
    width: 66%;
    position: relative;
}

.stats-contain {
    width: 33%;
}

.cardRow {
    width: 100%;
    height: 33%;
    margin: 0;
    padding: 0;
    #border: 2px white solid;
}

.statsRow1 {
    width: 100%;
    height: 25%;
    #border: 3px red solid;
    position: relative;

}

.statsRow2 {
    width: 100%;
    height: 14%;
    #border: 3px green solid;
    position: relative;
}

.statsRow3 {
    height: 18%;
    width: 100%;
    #border: 3px white solid;
    position: relative;
}

.statsRow4 {
    height: 43%;
    width: 100%;
    #border: 3px red solid;
    position: relative;
}

.reset img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 60%;
}

.reset {

    height: 55%;
    width: 30%;
    #border: 2px blue solid;
}

#reset {
    bottom: 2%;
    left: 25%;
    font-size: 1.3vw;
    text-shadow: -2px 2px 2px #888888;

}


.attempts,
.games-played {
    position: absolute;
    width: 100%;
    text-align: center;
}

.statsText,
.value {
    display: inline-block;
    position: absolute;
    font-size: 1.8vw;
    font-family: batman;
}

#accuracy {
    position: absolute;
    left: 43%;
    font-size: 1.8vw;
    font-family: batman;
    top: 35%;
}

#attempts {
    right: 17%;
}

#attemptsVal {
    right: 3%;
}

#gamesPlayed {
    right: 30%;
}

#gamesPlayedVal {
    right: 12%;
    margin-top: 5%;

}

.card {
    margin-right: 1%;
    margin-left: 6%;
    margin-top: 1%;
    padding: 0;
    border: 3px black solid;
    position: relative;
    height: 80%;
    border-radius: 15px;
    box-shadow: 5px 5px 4px #666666;
}
.card:hover .back {
    filter: brightness(130%) contrast(130%);
}

#imgReset:hover {
    filter: brightness(120%);
}
#imgReset:active {
    filter: contrast(70%) brightness(135%);
    transform: translateY(2px);
}

.back,
.front {
    position: absolute;
    height: 100%;
    width: 100%;
}

.front {
    background-color: white;
    border-radius: 10px;
}

.card img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.flipped .back {
    display: none;
}

.matched {
    visibility: hidden;
}

.popImg {
    height: 20%;
    width: 20%;
    position: absolute;
}

.aboutBody {
    #background-image: url(images/circuits-background3.jpg);
    text-align: center;
    background-color: #f5f5f5;
    
}


.aboutText {
    text-align: center;
    font-family: Montserrat-SemiBold;
}


.pic-contain {
    height: 35vh;
    width: 100%;
    #border: 1px black solid;
    #box-shadow: 0px 5px 5px #666666;
    #vertical-align: middle;
    padding: 0;
    #background-image: url(images/water2.jpg);
}


.picRow {
margin: 0;
    padding: 0;

    
}


.picMe, .wordCloud {
    
    height: 100%;
    margin: 0;
    padding: 0;
}

.picMe {
    height: 100%;
    #border: 2px blue solid;
    width: 50%;
    text-align: right;
    
    
}

.picMe Img {
    height: 90%;
    #width: auto;
    margin-top: 2.5%;
    border: 2px #666666 solid;
    border-radius: 220px;
        box-shadow: -4px 4px 3px #888888;
    margin-right: 5%;
}

.wordCloud {
    #vertical-align: middle;
    #border: 3px solid red;
    width: 40%;
    text-align: left;
        padding-top: 5%;
    
}

.wordCloud Img {
    width: 50%;
    
    filter: drop-shadow(8px 8px 5px #666666)
}

.portfolio-contain {

    height: 30vh;
    background-color: 3px black;
    
     
}

.portfolioIcon img{
    box-shadow: -6px 8px 3px #888888;
 border-radius: 40px;
    
}

.paragraphText {
     font-family: Roboto-Regular;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
}

.logoRow {
vertical-align: middle;
}



.builtLogo img{
    width: 50%;

}

.htmlLogo img {
    width: 80%;
}

.cssLogo img{
    width: 57%;
}

.queryLogo img{
    width: 100%;
}
.empty{
    margin-right: 5%;
}

h3 {
    margin-top: 5%;
}
.modal {
margin-left: 25%;
    margin-right: 25%;
}
.modal-content {
    width: 100%;
}

.modal-body  img {
width: 100%;
}